body {
    color:#333;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.custom-box {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    margin: 2px 0 0;
    padding: 15px;
    text-align: center;
    line-height: 30px;
}

.nopadding {
  padding: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.picker__select--month, .picker__select--year {
    padding: 0.2em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}