<template name="groupsuccess">
    <div class="container theme-showcase" role="main">

        <h3 class="alert alert-success" style="text-align:center;text-shadow:0 0 2px #fff;"><i class="fa fa-check" aria-hidden="true"></i> Votre sortie est publiée !</h3>

        <br /><br />
        
        <button type="button" style="text-align:left;" class="btn btn-default btn-lg btn-block seegroup"><i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i> Voir votre sortie</button>

        <button type="button" style="text-align:left;" class="btn btn-default btn-lg btn-block editgroup"><i class="fa fa-edit pull-right" aria-hidden="true"></i> Modifier votre sortie</button>

        <button type="button" style="text-align:left;" class="btn btn-primary btn-lg btn-block invite"><i class="fa fa-user-plus pull-right" aria-hidden="true"></i> Inviter des amis</button>
    </div>
</template>