<template name="home">
    <div class="container theme-showcase" role="main">

        <h3 style="text-align:center;text-shadow:0 0 2px #fff;">Prévoyez vos sorties et faites de nouvelles rencontres</h3>

        <br /><br />
        
        <button type="button" style="text-align:left;" class="btn btn-default btn-lg btn-block create"><i class="fa fa-plus pull-right" aria-hidden="true"></i> Créer un groupe</button>

        <button type="button" style="text-align:left;" class="btn btn-primary btn-lg btn-block search"><i class="fa fa-search pull-right" aria-hidden="true"></i> Rechercher un groupe</button>
    </div>
</template>